.jhi-logo__main {
  fill: hsl(200, 100%, 40%);
}
.jhi-logo__main circle {
  transition: all 1.5s;
  fill: hsl(200, 100%, 20%);
}
.jhi-logo__suffix {
  fill: hsl(200, 50%, 90%);
}
.jhi-logo__suffix circle {
  transition: all 1.5s;
  fill: hsl(200, 60%, 40%);
}
.collapse circle {
  cy: calc(100% - 8px);
}
.jhi-logo__connectors {
  transition: all 1.5s  1.5s;
  opacity: 1.0;
}
.collapse .jhi-logo__connectors {
  opacity: 0;
  /*height: 0;*/
  /*transform: translateY(100%);*/
}
